<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.phaseII.placepoint">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".AppClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".Home.LiveFeeds.MenuActivity"></activity>
        <activity android:name=".AboutBusiness.BusinessDetails.ImageVideoPDF.ImagePDFVideoViewActivity" />
        <activity android:name=".Business.Profile.ViewImageActivity" />
        <activity android:name=".Business.Profile.Subscription.SubscriptionDetailActivity" />
        <activity android:name=".Business.Profile.AddImageVideo.HorzRecyclerAdapter" />
        <activity android:name=".Business.Profile.AddImageVideo.ImageVideoActivity" />
        <activity android:name=".Business.Profile.OpeiningHours.OpeningHourActivity" />
        <activity android:name=".Business.Profile.BusinessDescription.BusinessDescriptionActivity" />
        <activity android:name=".Town.MultiPatentCategories.MultipleParentCategories" />
        <activity android:name=".Town.MultipleTown.MultipleTownActivity" />
        <activity android:name=".ImagePreview" />
        <activity android:name=".UpdatePassword.UpdatePasswordActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashBoard.DashBoardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Login.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Town.TownActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".MultichoiceCategories.MultipleCategories" />
        <activity
            android:name=".Categories.SubCategories.SubCategoriesActivity"
            android:label="" />
        <activity
            android:name=".AboutBusiness.AboutBusinessActivity"
            android:label=""
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".ForgotPassword.ForgotPasswordActivity"
            android:label=""
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Register.RegisterActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Cropper.CropperActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Business.AddPost.PostCropper"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".BusinessDetailMap.BusinessDetailMapActivity"
            android:label="@string/title_activity_business_detail_map"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Business.Profile.BusinessProfileMap.ProfileMapActivity"
            android:label="@string/title_activity_profile_map"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".AboutBusiness.BusinessViewPager" />
        <activity
            android:name=".Categories.CategoryActivity"
            android:label="" />
        <activity
            android:name=".PrivacyPolicy.PrivacyPolicyActivity"
            android:label=""
            android:parentActivityName=".PrivacyPolicy.PrivacyPolicyActivity" />
        <activity
            android:name=".Home.BusinessListing.MapsActivity"
            android:label="" />
        <activity
            android:name=".Payment.PaymentActivity"
            android:label="" />
        <activity
            android:name=".SubscriptionPlan.SubscriptionActivity"
            android:label="" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDjA5STG6UxSw2xrmRYGJD3YJgQ0yukbEE" />

        <activity
            android:name=".Business.MyPosts.FlashDetail.FlashDetailActivity"
            android:label=""
            android:windowSoftInputMode="adjustNothing" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name="com.appsflyer.SingleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".sdk.JivoActivity"
            android:label=""
            android:parentActivityName=".PrivacyPolicy.PrivacyPolicyActivity" />
    </application>

</manifest>